  <%= stylesheet_link_tag    'movie', media: 'all', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

<body class="bodybody">
<div class="editreviewpage">
<p class="heading1">  My Review for <%= @movie.m_name %></p>

<%= form_for (@rating) do |f| %>
	<div>
	<%= f.hidden_field :movie_id, :value => params[:movie_id] %>
	<%= f.hidden_field :user_id, :value => params[:user_id] %>
	<%= f.hidden_field :rating_id, :value => params[:user_id] + params[:movie_id] %>
</div>
	<p class="ratingupd"> <%= f.label :rating%></p><br />
	<div class="ratingbox"><%= f.number_field :rating, {:min => 0, :max => 10} %></div>
	
	
<p class="ratingupd"> <%= f.label :body %></p><br />
	<%= f.text_area :body, :class =>"textarea"  %>
	
	
	<div class="buttonposition2">
	<%= f.submit 'Review Movie',:class => "button3"%>
	</div>
</div>
</body>
<% end %>