	<p class="headings"> Add New Director</p>


<%= form_for (@director) do |f| %>
	<div>
	<p class="headings"><%= f.label :first_name %></p><br />
	<%= f.text_field :fName , :class => "moviename" %>
	</div>
	<div>
	<p class="headings"><%= f.label :last_name %></p><br />
	<%= f.text_field :lName, :class => "moviename2"  %>
	</div>
	<div class="buttonposition4">
	<%= f.submit 'Create Director', :class => "button4"%>
	</div>

<% end %>