<head>
<%= stylesheet_link_tag "/new.css" %>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


</head>
<body class="signin">
</body>
<!-- <div class="login-block">
    <h1>Sign In</h1>
    <input type="text" value="" placeholder="Username" id="username" />
    <input type="password" value="" placeholder="Password" id="password" />
    <button>Submit</button>
</div>
 -->
 
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login-block">
 <h1>Sign In</h1>
    <%= f.label :email, :class => "fontforinput" %><br /> 
    <%= f.email_field :email, :placeholder => "Email address", :class => "fontforinput", :autofocus => true%>
  
    <%= f.label :password,:class => "fontforinput" %><br />
    <%= f.password_field :password, :placeholder => "Password", autocomplete: "off", :class => "fontforinput",:autofocus => true %>
  

  

  <% if devise_mapping.rememberable? -%>
    <div class= "remembermebox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      </div>
     <div class="totheright"> <a href="/users/sign_up">Forgot password?</a></div>
      
  <% end -%>


    <%= f.submit "Login", :class => "button" %>

  
<% end %> 
</div>
<a href="/users/sign_up" class="myButton2">Sign Up!</a>




<% render "devise/shared/links" %>