<h3>Advanced Search</h3>

<%= form_for @search do |f| %>
	<div>
	<h2><%= f.label :search_by_movie%></h2>
	<br />
	<%= f.text_field :keywords %>
	</div>
	<div>
<h2>	<%= f.label :search_by_genre %></h2><br />
	<%= f.select :gName, options_for_select(@genres), :include_blank => true %>
	</div>
	<div>
	<%= f.submit 'Search'%>
	</div>
<% end %>

<p> <%= link_to 'Back', movies_path %></p>