<!DOCTYPE html>
<html>
<head>
  <title>Film Master</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<h1>Film Master</h1>
	
		<div class="nav">
			<a href="/home">Home</a>
			<% if user_signed_in? %>
				<%= link_to 'Sign out', destroy_user_session_path, data:{method: :delete} %>
			<% else %>
				<a href="/users/sign_in"> Sign In</a>	
			<% end %>
				
		</div>
	</div>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
