<!DOCTYPE html>
<html>
<head>
  <title>Film Master</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
	
		<nav class="nav">
		<ul>
			<li><h2><img src="/assets/film1.png" height="40" width="145"></h2></li>
			<li><a href="/home">Home</a></li>
			<div style="float:right">

			<li class="search"><%= form_tag(movies_path,:method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Movies" %>
			<%= submit_tag "Search" %>

			<% end %></li>

			<% if user_signed_in? %>
				
				<li>Signed in as <%= current_user.fName  %>
				<%= link_to 'Sign out', destroy_user_session_path, data:{method: :delete} %></li>
			<% else %>
				<li><a href="/users/sign_in"> Sign In</a></li>
				<li><a href="/users/sign_up"> Sign Up</a></li>
			<% end %>
			</div>
			<li> <a href="#">merp </a></li>
		</ul>	
		</nav>
	</div>

	<div class="content">
		<%= yield %>
	</div>

</body>
</html>
