<%= stylesheet_link_tag "/edit_profile.css" %>
<div class="edit-block">
<h1>Edit Profile</h1>
	<%= form_for(@profiles) do |f| %>
		<div class= "field">
			<%= f.label :birthday%>
			<%= f.date_field :birthday %>
		</div>

		<div class= "field">
			<%= f.label :gender %>
			<%= f.select :gender,["Male","Female"] %>
		</div>
		
		<div class= "field">
			<%= f.label :language %>
			<%= f.select :language,["English","French","Spanish","Chinese","Hindi","Arabic","Portuguese","Benagli","Russiann","Japanese","Italian"] %>
		</div>
	<%= f.submit %>

	<%end %>
</div>
<body class="edit_profile"></body>