<%= stylesheet_link_tag "/new_profile.css" %>
<div class="edit-block">
<h1>Create Your Profile</h1>
	<%= form_for(@profiles) do |f| %>
	<%= f.hidden_field :user_id, :value => params[:user_id] %> 
	<%= f.hidden_field :profile_id, :value => params[:user_id] %> 

		<div class= "field">
			<%= f.label :birthday%>
			<%= f.date_field :birthday %>
		</div>

		<div class= "field">
			<%= f.label :gender %>
			<%= f.select :gender,["Male","Female"] %>
		</div>
		
		<div class= "field">
			<%= f.label :language %>
			<%= f.select :language,["English","French","Spanish","Chinese","Hindi","Arabic","Portuguese","Benagli","Russian","Japanese","Italian"] %>
		</div>
	<%= f.submit %>

	<%end %>
</div>
<body class="new_profile"></body>