
<%= stylesheet_link_tag "/profile.css" %>
<body class="profileshow"></body>
<div class="profile_page">

	<h1><%= full_name %></h1>

<div class="profile">
		
		
		<div class="profile_info">
		<h2>My Profile</h2>
			<p> Gender:  <%= @profiles.gender %> </p>
			<p>Birthday: <%= @profiles.birthday %> </p>
			<p>Language: <%= @profiles.language %> </p>
			<a href="/profiles/<%= @profiles.profile_id %>/edit">Edit Profile</a>
		</div>

</div>

</div>





