<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
</head>
<div class="profile_page">

	<h1><%= full_name %></h1>

<div class="profile">
		<p class="heading">
		My Profile
		</p>
		
		<div class="profile_info">
			<p> Gender:  <%= @profiles.gender %> </p>
			<p>Birthday: <%= @profiles.birthday %> </p>
			<p>Language: <%= @profiles.language %> </p>
			<a href="/profiles/<%= @profiles.profile_id %>/edit">Edit Profile</a>
		</div>

</div>
	<div class="favourite">
		<p class="heading">
		My Favourites
		</p>
		
		<div class="favourite_info">
		<!-- genres here -->
		<p>Favourite Genres</p>

<%= @merp %>



			<a href="/genres_profiles/<%= @profiles.profile_id %>/new">Add Favourites to Your Profile!</a>

		
	</div>
	
</div>

</div>





