  <%= stylesheet_link_tag    'movie', media: 'all', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
<div class="display">
<h4> Displaying <%= num_movies %>   </h4>



			<% if @movies.present? %>
			  <%= render @movies %>
			<% else %>
			  <p>There are no movies containing the term(s) <%= params[:search] %>.</p>
			<% end %>
<div class="movielist">
	<ul>
		<% @movies.each do |movie| %>
		
	<div>
	<li>	<a href = "/movies/<%= movie.movie_id %>"> <%= image_tag "movieImages/#{movie.movie_id}.jpg", :class=>"movieImg"%> </a>
	
		<h2> <%= movie.m_name %> </h2></li>
	</div>

		<% end %>

	</ul>
</div>