  <%= stylesheet_link_tag    'movie', media: 'all', 'data-turbolinks-track' => true %>
<link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>


<h1> <%= @movies.m_name %> </h1>

<div class="left">
 <%= image_tag "movieImages/#{@movies.movie_id}.jpg", :class=>"movieImg"%> 
</div>	
<div class="right">
<h3> Summary </h3>
 <p><%= @movies.summary %></p>
<h3> Movie Language: <%= @movies.language %> </h3>
<h3>  Maturity Level: <%= @movies.maturity_level %> </h3>
<h3>  Date released: <%= @movies.date_released %> </h3>
<h3>  Movie duration: <%= @movies.duration %> minutes </h3>
</br>
<h3>  Movie studio(s): </h3>
<!-- Get studio that made movie-->
<% @movies.studios.each do |studio| %>
 <li> <%= studio.studio_name %></li>
<% end %>

</br>

<h3>  Movie Actor(s): </h3>
<!-- Get actors in movie-->
<% @movies.roles.each do |role| %>
 <li> <%= role.actor.fName %> <%= role.actor.lName %> plays <%= role.rName %></li>
<% end %>

</br>

<h3>  Movie director(s): </h3>
<!-- Get directors of the movie-->
<% @movies.directors.each do |director| %>
 <li> <%= director.fName %> <%= director.lName %></li>
<% end %>

</br>

<h3>  Movie genres: </h3>
<!-- Get genres related to the movie-->
<% @movies.genres.each do |genre| %>
 <li> <%= genre.gName %></li>
<% end %>

</br>

<!-- List all users and  their rating of the movie IF THEY EXIST-->


</div>


<div class="clear">
<% if @movies.users.size > 0 %>
	<h2>Movie reviews</h2>
	<% @movies.users.each do |user| %>
	 	<p><%= user.fName %> <%= user.lName %> -- Rated : <%= @ratings.rating %> / 10</p>
		 <p><%= @ratings.body %></p>
	<% end %>
<% else %>
	  <p>No users have reviewed this movie.</p>
<% end %>

if this user id AND movie id combination doesnt exist in table
<%= link_to 'Write a review', movies_users_path(:movie_id=>@movies.movie_id, :user_id => current_user.user_id ) %>
else
<%= link_to 'Edit review', movies_users_edit_path(:movie_id=>@movies.movie_id, :user_id => current_user.user_id ) %>
<a href = "/movies_users/:movie_id/:user_id" data-method="delete"> Delete review </a>

	<p> rate movie</p>
	<p> this requies update restfulres to update movies overallR, userMoviesRated, users_movie</p>
</div>

