<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
</head>
<div class="account_page">

<h3><%= full_name %></h3>
	<div class="account">
	<p class="heading">Account Info</p>
		<div class="account_info">
			<p>email: <%= @users.email %></p>
			<p>password: ********* </p>
			<a href="/users/edit">edit account info</a>
		</div>
	</div>
	<div class="other_info">
	<p class="heading">Other</p>
		<div class="account_info">
			<p>City: <%= @users.city %></p>
			<p>Province: <%= @users.province %></p>
			<p>Country: <%= @users.country %></p>
			<a href="/users/edit">edit account info</a>
		</div>
	</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", destroy_user_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
