<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
</head>
<div class="account_page">

<h1><%= full_name %></h1>
	<div class="account">
	<p class="heading">Account Info</p>
		<div class="account_info">
			<p>email: <%= @users.email %></p>
			<p>password: ********* </p>
			<p>City: <%= @users.city %></p>
			<p>Province: <%= @users.province %></p>
			<p>Country: <%= @users.country %></p>

			<a href="/users/edit">edit account info</a>
		</div>
	</div>
	<div class="cancel">

		<p class="heading">Cancel Account</p>
		<div class="cancellation">
			<p>Unhappy?</p>
			<p>
			<p> <%= button_to "Cancel my account", destroy_user_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
		</div>
	</div>
</div>
