<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
</head>
<div class="account_page">

<h1><%= full_name %></h1>
	<div class="account">
	<p class="heading">Account Info</p>
		<div class="account_info">
			<p>email: <%= @users.email %></p>
			<p>password: ********* </p>
			<p>City: <%= @users.city %></p>
			<p>Province: <%= @users.province %></p>
			<p>Country: <%= @users.country %></p>

			<a href="/users/edit">edit account info</a>
		</div>

		<div class="account_info">
			<% if current_user.admin? %>
 
			<p> add genre</p>
			<%	end %>
		</div>
	</div>
	
