<%= stylesheet_link_tag "/settings.css" %>
<body class="settingshow"></body>
<div class="account_page">

<h1><%= full_name %></h1>
	<div class="account">
	
		<div class="account_info">
		<h2>Account Info</h2>
			<p>email: <%= @users.email %></p>
			<p>password: ********* </p>
			<p>City: <%= @users.city %></p>
			<p>Province: <%= @users.province %></p>
			<p>Country: <%= @users.country %></p>

			<a href="/users/edit">Edit Account Info</a>
		</div>

		<div class="account_info">
			<% if current_user.admin? %>
 				<a href="/genres/new">Add New Genre</a></br>
				
			<%	end %>
		</div>
		<div class="account_info">
			<% if current_user.admin? %>
			<a href="/directors/new">Add New Director</a>
				
			<%	end %>
		</div>
	</div>
	
